@import "../../Styles/_variables";
.custom-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  position: fixed;
  inset: 0;
}

.modal-content {
  border-radius: 10px;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
}

.modal-body {
  overflow-y: auto;
  flex: 1 1 auto;
  padding: 1rem;
}
