
/* logout button and profile css */
.logout-button {
  display: flex;
  align-items: center;
  background-color: #fff; /* Red color for logout */
  color: rgb(11, 10, 10);
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 16px;
}

.logout-button:hover {
  background-color: #b4a7a7; /* Darker red on hover */
}

.profile-logo {
  width: 35px; /* Adjust size as needed */
  height: 35px; /* Adjust size as needed */
  margin-right: 10px; /* Space between logo and text */
}
