html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  scroll-behavior: smooth;
}

/* Main app layout */
.main-app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  /* width:99% */
}

.main-content-scrollable {
  flex: 1;
  overflow-y: hidden;
  overflow-x: hidden;
  background: #e0e0e0;
  margin-top: 51px;
}

.logout-button {
  display: flex;
  align-items: center;
  background-color: #fff;
  color: rgb(11, 10, 10);
  border: none;
  border-radius: 5px;
  padding: 3px 15px;
  cursor: pointer;
  font-size: 16px;
}

.logout-button:hover {
  background-color: #b4a7a7;
}

.profile-logo {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
